absl-py==2.1.0
atomicwrites==1.4.1
attrs==23.2.0
beautifulsoup4==4.12.3
black==23.3.0
blessed==1.20.0
cachetools==5.3.3
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.3.2
click==8.1.7
cloudpickle==2.2.1
colorama==0.4.6
cycler==0.11.0
deepdiff==6.7.1
distlib==0.3.8
dnspython==2.3.0
docker-pycreds==0.4.0
docopt==0.6.2
enum34==1.1.10
filelock==3.12.2
flake8==5.0.4
flake8-bugbear==23.3.12
fonttools==4.38.0
future==1.0.0
gdown==4.7.3
gfootball==2.10.2
gitdb==4.0.11
GitPython==3.1.43
google-auth==2.29.0
google-auth-oauthlib==0.4.6
gpustat==1.1.1
grpcio==1.62.2
gym==0.21.0
identify==2.5.24
idna==2.7
imageio==2.31.2
importlib-metadata==4.13.0
joblib==1.3.2
jsonpickle==1.5.2
kiwisolver==1.4.5
lbforaging==1.1.1
Markdown==3.4.4
MarkupSafe==2.1.5
matplotlib==3.5.3
mccabe==0.7.0
mock==5.1.0
more-itertools==9.1.0
mpyq==0.2.5
munch==2.5.0
mypy-extensions==1.0.0
networkx==2.6.3
nodeenv==1.8.0
numpy==1.21.6
numpy-stl==3.1.1
nvidia-cublas-cu11==11.10.3.66
nvidia-cuda-nvrtc-cu11==11.7.99
nvidia-cuda-runtime-cu11==11.7.99
nvidia-cudnn-cu11==8.5.0.96
nvidia-ml-py==12.550.52
oauthlib==3.2.2
opencv-python==4.9.0.80
ordered-set==4.1.0
packaging==24.0
pandas==1.3.5
pathspec==0.11.2
pbr==4.3.0
Pillow==9.5.0
platformdirs==2.6.2
pluggy==0.7.1
portpicker==1.2.0
pre-commit==2.21.0
probscale==0.2.5
protobuf==3.20.3
psutil==6.0.0
py==1.6.0
py-cpuinfo==9.0.0
pyasn1==0.5.1
pyasn1-modules==0.3.0
pycodestyle==2.9.1
pyflakes==2.5.0
pygame==2.5.2
pyglet==2.0.10
pymongo==4.7.2
pyparsing==2.2.2
PySC2==3.0.0
PySocks==1.7.1
pytest==4.3.1
python-dateutil==2.7.3
python-utils==3.5.2
pytz==2024.2
PyYAML==5.3.1
requests==2.31.0
requests-oauthlib==2.0.0
rsa==4.9
rware==1.0.3
s2clientprotocol==4.10.1.75800.0
s2protocol==5.0.12.91115.0
sacred==0.8.2
scikit-learn==1.0.2
scipy==1.7.3
seaborn==0.12.2
sentry-sdk==2.3.1
setproctitle==1.3.3
six==1.11.0
sk-video==1.1.10
SMAC @ git+https://github.com/oxwhirl/smac.git@d6aab33f76abc3849c50463a8592a84f59a5ef84
-e git+ssh://git@github.com/oxwhirl/smacv2.git@577ab5a2cff2391f8df582da5731ea9cd6adf3c6#egg=SMACv2
smmap==5.0.1
snakeviz==2.2.0
soupsieve==2.4.1
tensorboard==2.11.2
tensorboard-data-server==0.6.1
tensorboard-logger==0.1.0
tensorboard-plugin-wit==1.8.1
tensorboardX @ git+https://github.com/lanpa/tensorboardX@ce08ab4ca1ebb0e8d09d140dbc1531f3923490a7
threadpoolctl==3.1.0
tomli==2.0.1
torch==1.4.0
torchvision==0.4.1
tornado==5.1.1
tqdm==4.67.0
typed-ast==1.5.5
typing_extensions==4.7.1
urllib3==2.0.7
virtualenv==20.16.2
wandb==0.17.0
wcwidth==0.2.13
websocket-client==0.53.0
Werkzeug==2.2.3
whichcraft==0.5.2
wrapt==1.10.11
zipp==3.15.0
